*{
    box-sizing: border-box;
  }
  ul{
    list-style: none;
  }
  body{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: url(../sunny.jpg);
    background-position: top center;
    background-size: cover;
  }
  nav{
    background-color:#8ddaf1 ;
  }
  .navbar-brand p{
    font-size: 10px;
    font-weight: 300;
  }
  .navbar-nav a{
    color: white;
    font-size: 14px;
    padding: 5px 25px !important;
    transition: all 0.3s ease 0s;;
  }
  @media(min-width:991px){
    .navbar-nav .nav-link.active{
    border: 1px solid rgb(0, 154, 216) !important;
    border-radius: 20px !important;
    color: rgb(0, 154, 216) !important;
    }
  }
  @media(max-width:991px){
    .navbar-nav .nav-link.active{
    color: rgb(0, 154, 216) !important;
  }
  .navbar-nav{
    background-color: #262936;
    width: 75%;
    margin: 30px auto;
    border-radius: 10px;
  }
  .nav-item{
    padding: 15px;
  }
  .nav-item:not(:last-child){
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  }
  }
  .nav-link:focus, .nav-link:hover {
    color: rgb(0, 154, 216) !important;
  }
  .navbar-toggler {
      background-color: transparent;
      border: none;
  }
  
  .navbar-toggler i{
    transition: 0.3s;
  }
  .navbar-toggler:hover i{
    color: rgb(0, 154, 216) !important;
  }
  .navbar-toggler:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: none;
  }
  
  .weather-body{
    padding: 90px 0;

  }
  .search{
    background-color: rgb(30 32 43 / 95%);;
    border: none;
  }
  .search input{
    background-color: transparent ;
    font-size: 14px;
    color: white !important;
  }
  .search input:focus{
    background-color: transparent;
    color: white !important;
  }
  
  .search input::placeholder{
    color: #BFC1C8;
  }
  .contentUl{
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }
  footer{
    background-color:#8ddaf1 ;
    padding: 45px 0;
  }
  .footer-links li{
    padding: 11px;
    /* background-color: #1E202B; */
    background-color: rgb(0, 154, 216);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  .footer-links li i{
    font-size: 20px;
    transition: 0.3s;
    /* color: rgb(0, 154, 216); */
  }
  .footer-links li:hover{
  /* background-color: rgb(0, 154, 216); */
    background-color: transparent;
  }
  .footer-links li:hover i{
  color: white;
  }
  footer p{
    font-size: 14px;
  }
  
  .contact-frame{
    background-color: #8ddaf1;
  }
  .contact-sec{
    background-image: url(../sunny.jpg);
    background-position: top center;
    background-size: cover;
  }
  .fs-14{
    font-size: 14px;
  }
  .input-contact{
    border: none;
    outline: none;
    box-shadow: none !important;
    color: #BFC1C8 !important;
  }
  .input-contact:focus{
    background-color:#262936 ;
    color: #BFC1C8 !important;
    color: white !important;
  }
  .input-contact::placeholder{
    color: #BFC1C8 !important;
  }
  .your-loc{
    background-color: #1E202B;
  }